*,
html {
  margin: 0;
  padding: 0;
}

/* .container {} */

.navbar-container {
  background-color: #7a7a7a;
  width: 100%;
  height: 10vh;
}

.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.li-navbar:hover {
  background-color: #ffffff8f;
  transition: 0.1s ease-in-out;
  transition-delay: 0.2s;
  border-radius: 10px;
}

.a-navbar {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container-content {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-self: center;
  height: 70vh;
}

.a-content {
  background-color: rgb(218, 218, 218);
  color: black;
  text-decoration: none;
  font-size: 12px;
  width: 600px;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 9px;
  -webkit-box-shadow: 0px 1px 15px 5px #000000;
  box-shadow: 0px 1px 15px 5px #000000;
}

.img-content {
  width: 50%;
  height: 50%;
}

.container-footer {
  height: 20vh;
  background-color: #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: arial;
}

.h1-footer {
  font-size: 12px;
  color: white;
}
